<!DOCTYPE html>
<html>
  <head>
    <title>Gcal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <div class="jumbotron text-center">
        <h2><b>Python Developer Assignment</b></h2>
        <p>Created by Shivam Kumar</p>
        <p>Email : shivamsks219@gmail.com</p>
        <p>Django app to view Google Calendar Events </p><br><br>
        <p>Instruction : Please send your email id to given email or linkedin before testing the app</p>
        <p>The app is under testing mode</p>
        <a href="/rest/v1/calendar/init/" button class="btn btn-primary">Google Outh login</a>
        <footer>
            <a href="https://www.linkedin.com/in/shivam-kumar-sks/" class="fa fa-linkedin"></a>
            <a href="https://github.com/shivamsks219" class="fa fa-github"></a>
            <a href="mailto:shivamsks219@gmail.com" class="fa fa-google"></a>
        </footer>
    </div>
  </body>
</html>